<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:aop="http://www.springframework.org/schema/aop"
		xmlns:context="http://www.springframework.org/schema/context"
		xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
				http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
				http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd">
<!-- <beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
	xmlns:context="http://www.springframework.org/schema/context"> -->
	
	<!-- to run aop in place -->
	<aop:aspectj-autoproxy></aop:aspectj-autoproxy>
	
	<bean name="triangle" class="org.amin.springpractice.model.Triangle">
		<property name="name" value="Triangle name" />
	</bean>
	<bean name="circle" class="org.amin.springpractice.model.Circle">
		<!-- i don't want initialize when got ant exception -->
		<!-- <property name="name" value="Circle name" /> -->
	</bean>
	
	
	<bean name="shapeService" class="org.amin.springpractice.service.ShapeService" autowire="byName"> <!-- autowire shortcut for member variable -->
	</bean>
	
	<bean name="loggingAspect1" class="org.amin.springpractice.aspect.LoggingAspect1" />
	
	<!-- instead of a class annotated as an aspect [@Aspect] -->
	<aop:config>
		<aop:aspect id="loggingAspect1" ref="loggingAspect1"> <!-- this line is equals to @Aspect annotation in LoggingAspect1 class -->
			<!-- <aop:pointcut id="allGetters" expression="execution(* get*())"/>  --> <!-- this line for pointcut for allGetters() and its expression in LoggingAspect1 class -->
			<!-- <aop:around pointcut-ref="allGetters" method="myAroundAdvice"/> --> <!-- method executed for allGetters expression pointcut -->
			<aop:around pointcut="execution(* get*())" method="myAroundAdvice"/> <!-- here does not need <aop:pointcut> tag -->
			
		</aop:aspect>
	</aop:config>
	
</beans>